body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: ;
}


#calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 320px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
}

#result {
    width: 90%;
    height: 50px;
    font-size: 2em;
    text-align: right;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-right: 10px;
    margin: 20px;
  }
  
